body{
    background-color: #222222;
}
header{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(IMG/horgaszat_nyito.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    align-items: center;
    align-self: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 40px;
    
}
li{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    
}
a{
    color: black;
    text-decoration: none;
}
.oldal{
    text-align: center;
    
    width: 100%;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
    background-color: white;

    z-index:1;
  
}

#HALDORADO::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #244e83;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#HALDORADO:hover::before {
    opacity: 1;
  }
#FOX_RAGE::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c44149;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#FOX_RAGE:hover::before {
    opacity: 1;
  }

#ENERGO::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f5af40;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#ENERGO:hover::before {
    opacity: 1;
  }
#FEEDERMANIA::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fe5000;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#FEEDERMANIA:hover::before {
    opacity: 1;
  }
#HALCATRAZ::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2a28;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#HALCATRAZ:hover::before {
    opacity: 1;
  }
#VARSZEGI::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    background-color: #beb8a0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; 
    
}
#VARSZEGI:hover::before {
    opacity: 1;
  }      
.kitolto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tartalom{
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    margin-left:50px;
    margin-right: 50px;
    background: rgb(96,154,204);
    background: radial-gradient(circle, rgba(96,154,204,1) 0%, rgba(73,136,187,1) 32%, rgba(20,96,150,1) 77%, rgba(0,81,135,1) 88%);
}
.peldakartya{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: #82C3EC 3px solid;
    border-radius: 20px;
    margin: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    background: rgb(77,109,121);
    background: linear-gradient(180deg, rgba(77,109,121,1) 0%, rgba(16,19,33,1) 100%);
    width: 45em;
    box-shadow: 0px 0px 37px 11px rgba(130,195,236,0.76);
    -webkit-box-shadow: 0px 0px 37px 11px rgba(130,195,236,0.76);
    -moz-box-shadow: 0px 0px 37px 11px rgba(130,195,236,0.76);
}

.kartyak{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.adatkartya{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: #82C3EC 3px solid;
    border-radius: 20px;
    margin: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: rgb(77,109,121);
    background: linear-gradient(180deg, rgba(77,109,121,1) 0%, rgba(16,19,33,1) 100%);
    width: 280px;
    box-shadow: 0px 0px 37px 11px rgba(0,43,91,0.81);
    -webkit-box-shadow: 0px 0px 37px 11px rgba(0,43,91,0.81);
    -moz-box-shadow: 0px 0px 37px 11px rgba(0,43,91,0.81);
    
    

}
.adatmezo{
    background-color: white;
    width:fit-content;
    padding: 10px;
}

.kep{
    margin-top: 20px;
    border: #144272 3px solid;
    border-radius: 20px;
    width: 100%;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    text-shadow: 4px -2px 4px rgb(255,255,255);
}
#ezustkarasz{
    background-image:url(IMG/ezustkarasz.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
/*kepek pozicionálása*/
#egyebkeszegek{
    background-image:url(IMG/keszegfelek.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#jaszkeszeg{
    background-image:url(IMG/jaszkeszeg.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#dever{
    background-image:url(IMG/deverkeszeg.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#suger{
    background-image:url(IMG/suger.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
}
#kosullo{
    background-image:url(IMG/Kosullo.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#fogassullo{
    background-image:url(IMG/fogassullo.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#csuka{
    background-image:url(IMG/csuka.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#balin{
    background-image:url(IMG/balin.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#ponty{
    background-image:url(IMG/ponty.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#amur{
    background-image:url(IMG/amur.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#marna{
    background-image:url(IMG/marna.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
}
#busa{
    background-image:url(IMG/busa.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
}

#compo{
    background-image:url(IMG/compo.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
}
#harcsa{
    background-image:url(IMG/harcsa.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#sebespisztrang{
    background-image:url(IMG/sebes_pisztrang.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#szivarvanyos{
    background-image:url(IMG/szivarvanyos_pisztrang.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#kecsege{
    background-image:url(IMG/kecsege.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#menyhal{
    background-image:url(IMG/menyhal.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
#angolna{
    background-image:url(IMG/angolna.png) ;
    background-size:cover;
    background-repeat: no-repeat;
}
.elvarando{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color:rgb(190, 190, 190) ;
}
@media  (max-width:1765px){
    .top{
        justify-content: center;
    }
}
@media (max-width:610px){
    .peldakartya{
        width: 85%;
    }
    .oldal{
        font-size: 40px;
        
    }
    .tartalom{
        margin-left:25px;
        margin-right: 25px;
    }
}
@media (max-width:495px){
    .peldakartya{
        width: 75%;
    }
    .oldal{
        font-size:35px;
    }
    .tartalom{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:495px){
    .peldakartya{
        width: 65%;
    }
    .oldal{
        font-size:30px;
        width: 95%;
    }
    .tartalom{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.adatkartya:hover{
    animation: oldalsav 4s infinite;
    cursor: pointer;
}
@keyframes oldalsav {
    0%{ 
        border-color:#82C3EC ;
        box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);
        -webkit-box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);
        -moz-box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);
    }
    25%{border-color:#6ddbf7 ;}
    50%{border-color:#07c8d6 ;
        box-shadow: 0px 0px 37px 11px rgba(2, 37, 78, 0.81);
        -webkit-box-shadow: 0px 0px 37px 11px rgba(2, 37, 78, 0.81);
        -moz-box-shadow: 0px 0px 37px 11px rgba(2, 37, 78, 0.81);}
    75%{border-color:#6ddbf7 ;}
    100%{
        border-color:#82C3EC ;
        box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);
        -webkit-box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);
        -moz-box-shadow: 0px 0px 37px 11px rgba(48, 136, 236, 0.81);}
}

    




