body{
    background-color: #434242;
}
header{
    background-image: url(IMG/horgaszat_nyito.png);
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    

}
.tartalom{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    background-color: #22A39F;
    
}
table,th,td{
    margin: auto;
    margin-top: 20px;
    border: #222222 solid 5px;
    border-collapse: collapse;
    
}
td{
    padding: 20px;
}
.elso_o{
    min-width: 300px;
    max-width:500px;

}